<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="user-photo">
                        <a href="#">
                            <img src="{{currentUser.User.profileImage}}" alt="User Photo">
                            <span class="user-photo-action">Click here to reupload</span>
                        </a>
                    </div><!-- /.user-photo -->
                </div><!-- /.widget -->


                <div class="widget">

                    <ul class="menu-advanced">
                        <li><a ui-sref="editProfileUser"><i class="fa fa-user"></i> Edit Profile</a></li>
                        <li class="active"><a ui-sref="changePasswordUser"><i class="fa fa-key"></i> Password</a></li>
                        <li><a ng-click="logMeOut()" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div><!-- /.widget -->

            </div><!-- /.sidebar -->
        </div><!-- /.col-* -->

        <div class="col-sm-5 col-sm-offset-2">
            <div class="page-title">
                <h1>Change Password</h1>
            </div><!-- /.page-title -->

            <form ng-submit="user.changePassword(currentUser.User,currentUser.userToChange.oldPwd,currentUser.userToChange.newPwd)">
                <div class="form-group">
                    <label for="login-form-password-old">Old Password</label>
                    <input type="password" class="form-control" ng-model="currentUser.userToChange.oldPwd" name="password"
                           id="login-form-password-old">
                </div><!-- /.form-group -->

                <div class="form-group">
                    <label for="login-form-password-retype">New password</label>
                    <input type="password" class="form-control" ng-model="currentUser.userToChange.newPwd" name="password"
                           id="login-form-password-New">
                </div><!-- /.form-group -->

                <div class="form-group">
                    <label for="login-form-password-retype">Retype password</label>
                    <input type="password" class="form-control" name="password"
                           id="login-form-password-retype">
                </div><!-- /.form-group -->

                <button type="submit" class="btn btn-primary pull-right">Change</button>
            </form>
        </div><!-- /.col-sm-4 -->


    </div><!-- /.row -->


</div>