<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="page-title">
            <h1>Login</h1>
        </div><!-- /.page-title -->

        <form ng-submit="user.signIn(user.toLoginUser.username,user.toLoginUser.pwd)" >
            <div class="form-group">
                <label for="login-form-email">E-mail / Username ( hakim.mliki@esprit.tn Or kimo )</label>
                <input type="text" class="form-control" ng-model="user.toLoginUser.username" id="login-form-email">
            </div><!-- /.form-group -->

            <div class="form-group">
                <label for="login-form-password">Password (123456)</label>
                <input type="password" class="form-control" ng-model="user.toLoginUser.pwd" id="login-form-password">
            </div><!-- /.form-group -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right">Login</button>
            </div><!-- /.form-group -->

        </form>

    </div><!-- /.col-sm-4 -->
</div><!-- /.row -->
<hr/>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <button ng-click="user.loginFB()" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            Sign in with Facebook
        </button>

    </div><!-- /.col-sm-4 -->

</div>