
<script src="assets/reservationStufs/js/bootstrap.min.js"></script>


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal " id="myModal" role="dialog" ng-init="selectTicket.getEventTickets()" >
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please feel free to choose your tickets</h4>
            </div>
            <div class="modal-body">




                <div  style="width: 100%;">
                    <div ng-repeat="user in referrel.allusers">

                        <a style="font-size: 20px;">{{user.firstName}}</a>
                        <button ng-click="referrel.referrerUser(user.id)" class="btn btn-success" style="float: right; width: 70px; font-size: 20px;">
                            Invite User
                        </button>
                        </br>



                    </div>

                </div>




            </div>
            <div class="modal-footer">

                <button ng-click="" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
        </div>

    </div>
</div>






