
<div class="container" ng-init="ManageEvents.initEdit()">

    <div class="row">


        <div class="col-sm-8 col-lg-9">
            <div class="content">
                <div class="page-title">
                    <h1>{{eventCreate.title}}</h1>
                </div>

                <div class="background-white p30 mb30">
                    <h3 class="page-title">Global Information</h3>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Title"
                               ng-model="ManageEvents.editedEvent.title">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <textarea class="form-control" placeholder="Listing Description" rows="8"
                                  ng-model="ManageEvents.editedEvent.theme"></textarea>
                    </div><!-- /.form-group -->
                    <!--<div class="form-group">-->
                    <!--<input class="form-control" type="date" ng-model="ManageEvents.editedEvent.startTime">-->
                    <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->

                    <div class="form-group">
                        <div class="col-md-3">
                            Start Time
                        </div>
                        <p class="input-group col-md-9">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm"
                                   ng-model="ManageEvents.editedEvent.startTime"
                                   is-open="ManageEvents.datetimepickerStart.open"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="ManageEvents.openCalendar($event,'datetimepickerStart')"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            End Time
                        </div>
                        <p class="input-group col-md-9">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm"
                                   ng-model="ManageEvents.editedEvent.endTime"
                                   is-open="ManageEvents.datetimepickerEnd.open"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="ManageEvents.openCalendar($event,'datetimepickerEnd')"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                </div><!-- /.box -->

                <div class="background-white p30 mb30">
                    <h3 class="page-title">Details</h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select name="category" class="form-control"
                                        ng-model="ManageEvents.editedEvent.category.id">
                                    <option ng-repeat="category in ManageEvents.categories" value="{{category.id}}">
                                        {{category.categoryName}}
                                    </option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <select name="type" class="form-control" ng-model="ManageEvents.editedEvent.eventType">
                                    <option value="Conference">Conference</option>
                                    <option value="Class_Workshop">Class/Workshop</option>
                                    <option value="Meeting">Meeting</option>
                                    <option value="Concert_Performance">Concert/Performance</option>
                                    <option value="Dinner_Gala">Dinner/Gala</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <select name="location" class="form-control">
                                    <option>Location</option>
                                    <option>Kensal</option>
                                    <option>Braymer</option>
                                    <option>Horton Bay</option>
                                    <option>Laurel Run</option>
                                    <option>Estherville</option>
                                    <option>Millhousen</option>
                                    <option>Allegan</option>
                                    <option>Florala</option>
                                    <option>Dundarrach</option>
                                    <option>Neligh</option>
                                    <option>Roseboro</option>
                                    <option>Mount Pleasant</option>
                                    <option>Moro</option>
                                    <option>Strathmoor Village</option>
                                    <option>Mabton</option>
                                    <option>Loup City</option>
                                    <option>Wolverine</option>
                                    <option>San Leandro</option>
                                    <option>Dunwoody</option>
                                    <option>Battle Ground</option>
                                    <option>Hanson</option>
                                    <option>Reedley</option>
                                    <option>Bayshore</option>
                                    <option>Tupelo</option>
                                    <option>Lone Pine</option>
                                </select>
                            </div><!-- /.form-group -->

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                <input class="form-control" type="text" ng-model="ManageEvents.editedEvent.placeNumber">
                            </div><!-- /.form-group -->
                        </div><!-- /.col-* -->

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i style="color: #3B5998"
                                                                   class="fa fa-facebook-square"></i></span>
                                <input class="form-control" type="text" placeholder=""
                                       ng-model="ManageEvents.editedEvent.facebookLink">
                            </div><!-- /.form-group -->

                            <div class="input-group">
                                <span class="input-group-addon"><i style="color: #0097D8"
                                                                   class="fa fa-twitter-square"></i></span>
                                <input class="form-control" type="text" placeholder="City"
                                       ng-model="ManageEvents.editedEvent.twitterLink">
                            </div><!-- /.form-group -->

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" type="text" placeholder="Phone"
                                       ng-model="ManageEvents.editedEvent.phone">
                            </div><!-- /.form-group -->

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                <input class="form-control" type="text" placeholder="E-mail"
                                       ng-model="ManageEvents.editedEvent.email">
                            </div><!-- /.form-group -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.box -->

                <div class="row">
                    <div class="col-sm-12">

                        <div class="background-white p30 mb30">
                            <h2 class="page-title">Event Location</h2>

                            <input id="pac-input" class="controls form-control mb30" type="text"
                                   placeholder="Enter a location">

                            <div id="map-canvas"></div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        <input class="form-control" type="text" placeholder="Latitude"
                                               id="input-latitude" ng-model="ManageEvents.editedEvent.latitude">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        <input class="form-control" type="text" placeholder="Lontgitude"
                                               id="input-longitude" ng-model="ManageEvents.editedEvent.longitude">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </div><!-- /.box -->
                    </div>









                    <div class="col-sm-12">
                        <div class="background-white p30 mb30">
                            <h2 class="page-title">Gallery</h2>
                            <input type="file" id="input-file">
                        </div><!-- /.box -->
                    </div>
                </div><!-- /.row -->

                <div class="background-white p30 mb30">
                    <h3 class="page-title">Amenities</h3>

                    <ul class="amenities">
                        <li class="checkbox"><input type="checkbox" id="amenity-1"> <label for="amenity-1">Air
                            conditioning</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-2"> <label
                                for="amenity-2">Balcony</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-3"> <label
                                for="amenity-3">Bedding</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-4"> <label for="amenity-4">Cable
                            TV</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-5"> <label for="amenity-5">Cleaning
                            after exit</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-6"> <label for="amenity-6">Cofee
                            pot</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-7"> <label
                                for="amenity-7">Computer</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-8"> <label for="amenity-8">Cot</label>
                        </li>
                        <li class="checkbox"><input type="checkbox" id="amenity-9"> <label
                                for="amenity-9">Dishwasher</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-10"> <label for="amenity-10">DVD</label>
                        </li>
                        <li class="checkbox"><input type="checkbox" id="amenity-11"> <label for="amenity-11">Fan</label>
                        </li>
                        <li class="checkbox"><input type="checkbox" id="amenity-12"> <label
                                for="amenity-12">Fridge</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-13"> <label
                                for="amenity-13">Grill</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-14"> <label
                                for="amenity-14">Hairdryer</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-15"> <label
                                for="amenity-15">Heating</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-16"> <label
                                for="amenity-16">Hi-fi</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-17"> <label
                                for="amenity-17">Internet</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-18"> <label
                                for="amenity-18">Iron</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-19"> <label
                                for="amenity-19">Juicer</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-20"> <label
                                for="amenity-20">Lift</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-21"> <label
                                for="amenity-21">Microwave</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-22"> <label
                                for="amenity-22">Oven</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-23"> <label
                                for="amenity-23">Parking</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-24"> <label
                                for="amenity-24">Parquet</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-25"> <label
                                for="amenity-25">Pool</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-26"> <label
                                for="amenity-26">Radio</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-27"> <label for="amenity-27">Roof
                            terrace</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-28"> <label for="amenity-28">Smoking
                            allowed</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-29"> <label
                                for="amenity-29">Terrace</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-30"> <label
                                for="amenity-30">Toaster</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-31"> <label
                                for="amenity-31">Towelwes</label></li>
                        <li class="checkbox"><input type="checkbox" id="amenity-32"> <label for="amenity-32">Use of
                            pool</label></li>
                    </ul>
                </div>

                <div class="center">
                    <button ng-click="ManageEvents.update()" class="btn btn-primary btn-xl">Submit Editing
                    </button>
                </div><!-- /.center -->

            </div><!-- /.content -->
        </div><!-- /.col-* -->

    </div><!-- /.row -->
</div>
<!--<script src="assets/js/jquery.js" type="text/javascript"></script>-->
<!--<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=AIzaSyB6C8bf6Wh2OxqJ1NymG25PE-zWE0LmwYw" type="text/javascript"></script>-->

<!--<script src="assets/js/map.js" type="text/javascript"></script>-->



