<div class="row" style="margin-top: 20px">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <h3>My Events <a href="#">All Pending Listings <i class="fa fa-chevron-right"></i></a></h3>

        <div class="background-white p30 mb50">
            <div class="cards-system">


                <div class="card-system">
                    <div class="card-system-inner">
                        <div class="card-system-image" data-background-image="assets/img/tmp/product-2.jpg">
                            <a href="listing-detail.html"></a>
                        </div><!-- /.card-system-image -->

                        <div class="card-system-content">
                            <h2><a href="listing-detail.html">Tasty Brazil Coffee</a></h2>
                            <h3>Posted sever hours ago</h3>
                            <a href="#" class="btn btn-primary btn-xs">Edit</a>
                            <a href="#" class="btn btn-secondary btn-xs">Delete</a>
                        </div>
                    </div>
                </div><!-- /.card-system -->



            </div><!-- /.cards-system -->
        </div>

    </div><!-- /.col-* -->
</div>